<div class="destination-options hidden absolute z-10 mt-2 w-48 w-full shadow-lg bg-white ring-1 ring-black ring-opacity-5">
    <ul class="py-1">
        {{> atoms-heading-destination-link destination="A Coruña" }}
        {{> atoms-heading-destination-link destination="Vigo" }}
        {{> atoms-heading-destination-link destination="Las Rozas, Madrid" }}
        {{> atoms-heading-destination-link destination="Barcelona" }}
        {{> atoms-heading-destination-link destination="Sabadell, Barcelona" }}
        {{> atoms-heading-destination-link destination="Lugo" }}
    </ul>
</div>
