<section class="why-choose-us">
    <div class="why-choose-us__container container">
        {{> atoms-heading-why-choose-us-title title="Por qué nos eligen" }}
        <div class="why-choose-us__grid md:grid-cols-4">
          <div class="why-choose-us__content">
              {{> atoms-wavy-check }}
              {{> atoms-heading-why-choose-us text="Servicio exquisito, cercano y personal" }}
          </div>
          <div class="why-choose-us__content">
              {{> atoms-cyrcle-currency }}
              {{> atoms-heading-why-choose-us text="Relación calidad - precio extrordinaria" }}
          </div>
          <div class="why-choose-us__content">
              {{> atoms-fork-knife }}
              {{> atoms-heading-why-choose-us text="Gastonomía cuidada y de primer nivel" }}
          </div>
            <div class="why-choose-us__content">
                {{> atoms-thumbs-up }}
                {{> atoms-heading-why-choose-us text="Recomendación de otros clientes" }}
            </div>
        </div>
    </div>
</section>
