<div class="pre-header bg-gray-800 text-white text-sm py-2 opacity-100">
  <div class="container mx-auto flex justify-center items-center px-10 gap-16 grid-cols-12">
    <div class="flex items-center gap-2">
      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 2.5C0.5 1.11929 1.61929 0 3 0H7.67157C8.33461 0 8.9705 0.263392 9.43934 0.732233L15.0656 6.35846C16.4324 7.7253 16.4324 9.94137 15.0656 11.3082L11.8082 14.5656C10.4414 15.9324 8.22529 15.9324 6.85846 14.5656L1.23223 8.93934C0.763391 8.4705 0.5 7.83461 0.5 7.17157V2.5ZM3 1C2.17157 1 1.5 1.67157 1.5 2.5V7.17157C1.5 7.5694 1.65803 7.95093 1.93934 8.23223L7.56557 13.8585C8.54188 14.8348 10.1248 14.8348 11.1011 13.8585L14.3585 10.6011C15.3348 9.62479 15.3348 8.04188 14.3585 7.06557L8.73223 1.43934C8.45093 1.15804 8.0694 1 7.67157 1H3Z" fill="currentColor"/>
        <path d="M5.5 4C5.5 4.55228 5.05228 5 4.5 5C3.94772 5 3.5 4.55228 3.5 4C3.5 3.44772 3.94772 3 4.5 3C5.05228 3 5.5 3.44772 5.5 4Z" fill="currentColor"/>
      </svg>
      <span class="font-open-sans">Mejor precio garantizado</span>
    </div>
    <div class="flex items-center gap-2">
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66667 3.83341C4.02233 3.83341 3.5 4.35575 3.5 5.00008V16.6667C3.5 17.3111 4.02233 17.8334 4.66667 17.8334H16.3333C16.9777 17.8334 17.5 17.3111 17.5 16.6667V5.00008C17.5 4.35575 16.9777 3.83341 16.3333 3.83341H4.66667ZM2.5 5.00008C2.5 3.80346 3.47005 2.83341 4.66667 2.83341H16.3333C17.53 2.83341 18.5 3.80346 18.5 5.00008V16.6667C18.5 17.8634 17.53 18.8334 16.3333 18.8334H4.66667C3.47005 18.8334 2.5 17.8634 2.5 16.6667V5.00008Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 8.33341C2.5 8.05727 2.72386 7.83341 3 7.83341H18C18.2761 7.83341 18.5 8.05727 18.5 8.33341C18.5 8.60956 18.2761 8.83341 18 8.83341H3C2.72386 8.83341 2.5 8.60956 2.5 8.33341Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8333 1.16675C14.1095 1.16675 14.3333 1.39061 14.3333 1.66675V5.00008C14.3333 5.27622 14.1095 5.50008 13.8333 5.50008C13.5572 5.50008 13.3333 5.27622 13.3333 5.00008V1.66675C13.3333 1.39061 13.5572 1.16675 13.8333 1.16675Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.16667 1.16675C7.44281 1.16675 7.66667 1.39061 7.66667 1.66675V5.00008C7.66667 5.27622 7.44281 5.50008 7.16667 5.50008C6.89052 5.50008 6.66667 5.27622 6.66667 5.00008V1.66675C6.66667 1.39061 6.89052 1.16675 7.16667 1.16675Z" fill="currentColor"/>
      </svg>
      <span class="font-open-sans">Cancelación más flexible</span>
    </div>
    <div class="flex items-center gap-2">
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 2.5C6.35786 2.5 3 5.85786 3 10C3 14.1421 6.35786 17.5 10.5 17.5C14.6421 17.5 18 14.1421 18 10C18 5.85786 14.6421 2.5 10.5 2.5ZM2 10C2 5.30558 5.80558 1.5 10.5 1.5C15.1944 1.5 19 5.30558 19 10C19 14.6944 15.1944 18.5 10.5 18.5C5.80558 18.5 2 14.6944 2 10Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7 11.6C6.92091 11.4343 7.23431 11.4791 7.4 11.7L7 12C7.4 11.7 7.4 11.7 7.4 11.7L7.40657 11.7084C7.41341 11.717 7.42485 11.7312 7.44077 11.7502C7.47264 11.7882 7.52229 11.845 7.58886 11.9145C7.7224 12.0538 7.92162 12.2414 8.1795 12.429C8.6972 12.8055 9.42943 13.1667 10.3333 13.1667C11.2372 13.1667 11.9695 12.8055 12.4872 12.429C12.745 12.2414 12.9443 12.0538 13.0778 11.9145C13.1444 11.845 13.194 11.7882 13.2259 11.7502C13.2418 11.7312 13.2533 11.717 13.2601 11.7084L13.2669 11.6997C13.4326 11.479 13.7459 11.4344 13.9667 11.6C14.1876 11.7657 14.2324 12.0791 14.0667 12.3L13.6667 12C14.0667 12.3 14.0667 12.3 14.0667 12.3L14.0655 12.3016L14.0638 12.3037L14.0592 12.3099L14.0441 12.3291C14.0317 12.3448 14.0142 12.3664 13.9919 12.3931C13.9473 12.4462 13.883 12.5196 13.7998 12.6064C13.6339 12.7795 13.3904 13.0086 13.0753 13.2377C12.4472 13.6945 11.5128 14.1667 10.3333 14.1667C9.1539 14.1667 8.21947 13.6945 7.59133 13.2377C7.2763 13.0086 7.0328 12.7795 6.86687 12.6064C6.7837 12.5196 6.71941 12.4462 6.67479 12.3931C6.65247 12.3664 6.63501 12.3448 6.62252 12.3291L6.60752 12.3099L6.60282 12.3037L6.60117 12.3016L6.60053 12.3007C6.60053 12.3007 6.6 12.3 7 12L6.60053 12.3007C6.43484 12.0798 6.47909 11.7657 6.7 11.6Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8C12 7.44772 12.4477 7 13 7H13.0083C13.5606 7 14.0083 7.44772 14.0083 8C14.0083 8.55228 13.5606 9 13.0083 9H13C12.4477 9 12 8.55228 12 8Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8C7 7.44772 7.44772 7 8 7H8.00833C8.56062 7 9.00833 7.44772 9.00833 8C9.00833 8.55228 8.56062 9 8.00833 9H8C7.44772 9 7 8.55228 7 8Z" fill="currentColor"/>
      </svg>
      <span class="font-open-sans">Atención personalizada</span>
    </div>
    <div class="font-open-sans">Servicio excelente certificado</div>
  </div>
</div>
