{{> organisms-header }}

<main>
    {{#> molecules-layout-container }}
    {{> organisms-hero-banner title="La mejor opción en tu destino" }}
    {{/ molecules-layout-container}}
</main>

{{> organisms-footer }}
