{{> organisms-pre-header }}
{{> organisms-header }}

<main>
    {{#> molecules-layout-container }}
    {{> atoms-heading }}
    {{> organisms-hero-banner }}
    {{/ molecules-layout-container}}
</main>
