{{> organisms-header }}

<main>
    {{#> molecules-layout-container }}
        {{> molecules-page-header }}
        <section>
            <h2>Bienvenido a la Página de Inicio</h2>
            <p>¡Esta es la página de inicio de nuestro sitio!</p>
        </section>
    {{/ molecules-layout-container}}
</main>

{{> organisms-footer }}
