.banner-hero {
	background-image: url('../../images/banner-home.jpg');
	height: 525px;
	background-size: cover;
	background-position: 0;
	background-repeat: no-repeat;
}

.slogan-container {
	width: 29rem;
	height: 2.65rem;
	position: absolute;
	bottom: 5.6rem;
	justify-content: center;
	left: .5rem;
	padding: .8rem;
	gap: .8rem;
}
