<div class="banner-hero relative bg-cover bg-center h-64">
    <div class="absolute inset-0 bg-black bg-opacity-20 flex items-center justify-center">
        <div class="w-full px-2 self-end mb-2">
            {{> atoms-slogan }}
            {{> organisms-destination-selector }}
        </div>
    </div>
</div>
