<h1 class="text-6xl py-4 pb-5">
    La mejor opción en
    <span class="relative inline-block destination-container">
        <span class="cursor-pointer destination-trigger">tu destino</span>
        <div class="destination-options hidden absolute z-10 mt-2 w-48 w-full shadow-lg bg-white ring-1 ring-black ring-opacity-5">
            <ul class="py-1">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 destination-link">A Coruña</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 destination-link">Vigo</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 destination-link">Las Rozas, Madrid</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 destination-link">Barcelona</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 destination-link">Sabadell, Barcelona</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 destination-link">Lugo</a></li>
            </ul>
        </div>
    </span>
</h1>
