<div class="searcher__item searcher__item-calendar">
    <div class="searcher__item-container">
        {{> atoms-calendar-big }}
        <span>Entrada&nbsp;&nbsp;&nbsp;&nbsp;Salida</span>
    </div>
</div>
