.searcher__item {

	&-destination {
		position: relative;

		.searcher__item-dropdown {
			margin-top: .1rem;
			width: 936px;

			&-grid {
				gap: 1rem 4rem;
				grid-template-columns: repeat(2, minmax(0, 1fr));
				padding: 1rem 0;
				width: 540px;

				&-item {
					cursor: pointer;
					display: flex;
					font-size: 0.875rem;
					line-height: 1.25rem;
					width: 270px;
				}

				&-image {
					margin-right: .7rem;
				}

				&-text {
					flex: 1 1 0%;
					width: inherit;

					span {
						color: $gray2;
						display: block;
						font-size: .775rem;
					}
				}
			}
		}
	}

	&-dropdown-content {

		&--left {
			width: 37%;
		}

		&--right {
			width: 63%;
		}
	}
}
