<div class="searcher__item searcher__item-destination">
    <div class="searcher__item-container app_destination-select">
        {{> atoms-map }}
        <span>Alojamiento o destino</span>
    </div>
    <div class="searcher__item-dropdown shadow-lg ring-1 ring-black ring-opacity-5 hidden app_destination-options">
        <div class="searcher__item-dropdown-container">
            <div class="searcher__item-dropdown-content searcher__item-dropdown-content--left">
                <div class="searcher__item-dropdown-title">Tu mejor opción en...</div>
                <ul class="searcher__item-dropdown-list">
                    <li class="searcher__item-dropdown-item">A Coruña</li>
                    <li class="searcher__item-dropdown-item">Vigo</li>
                    <li class="searcher__item-dropdown-item">Las Rozas, Madrid</li>
                    <li class="searcher__item-dropdown-item">Barcelona</li>
                    <li class="searcher__item-dropdown-item">Sabadell, Barcelona</li>
                    <li class="searcher__item-dropdown-item">Lugo</li>
                </ul>
            </div>
            <div class="searcher__item-dropdown-content searcher__item-dropdown-content--right">
                <div class="searcher__item-dropdown-title">Alojamientos</div>
                <ul class="searcher__item-dropdown-grid">
                    <li class="searcher__item-dropdown-grid-item">
                        <img class="searcher__item-dropdown-grid-image" src="../../../images/alojamiento1.jpg" alt="Alojamiento 1" width="112">
                        <div class="searcher__item-dropdown-grid-text">Hotel 1
                            <span>A Coruña</span>
                        </div>
                    </li>
                    <li class="searcher__item-dropdown-grid-item">
                        <img class="searcher__item-dropdown-grid-image" src="../../../images/alojamiento2.jpg" alt="Alojamiento 2" width="112">
                        <div class="searcher__item-dropdown-grid-text">Hotel 2
                            <span>Vigo</span>
                        </div>
                    </li>
                    <li class="searcher__item-dropdown-grid-item">
                        <img class="searcher__item-dropdown-grid-image" src="../../../images/alojamiento3.jpg" alt="Alojamiento 3" width="112">
                        <div class="searcher__item-dropdown-grid-text">Hotel 3
                            <span>Madrid</span>
                        </div>
                    </li>
                    <li class="searcher__item-dropdown-grid-item">
                        <img class="searcher__item-dropdown-grid-image" src="../../../images/alojamiento4.jpg" alt="Alojamiento 4" width="112">
                        <div class="searcher__item-dropdown-grid-text">Hotel 4
                            <span>Barcelona</span>
                        </div>
                    </li>
                    <li class="searcher__item-dropdown-grid-item">
                        <img class="searcher__item-dropdown-grid-image" src="../../../images/alojamiento5.jpg" alt="Alojamiento 5" width="112">
                        <div class="searcher__item-dropdown-grid-text">Hotel 5
                            <span>Lugo</span>
                        </div>
                    </li>
                    <li class="searcher__item-dropdown-grid-item">
                        <img class="searcher__item-dropdown-grid-image" src="../../../images/alojamiento6.jpg" alt="Alojamiento 6" width="112">
                        <div class="searcher__item-dropdown-grid-text">Hotel 6
                            <span>Barcelona</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
