<div class="searcher__item searcher__item-rooms">
    <div class="searcher__item-container searcher__item-container--last">
        {{> atoms-user }}
        <span class="searcher__item-label app_rooms-label">2 Adultos · 1 hab.</span>
    </div>
    <div class="searcher__item-dropdown shadow-lg ring-1 ring-black ring-opacity-5 hidden app_rooms-options">
        <div class="searcher__item-dropdown-item">
            <span><strong>Adultos</strong></span>
            <button class="searcher__item-button btn-decrement" data-type="adults">-</button>
            <span class="searcher__item-counter app_rooms-adults-count">2</span>
            <button class="searcher__item-button btn-increment" data-type="adults">+</button>
        </div>
        <div class="searcher__item-dropdown-item">
            <span>
                <strong>Niños</strong>
                <span>De 0 a 11 años</span>
            </span>
            <button class="searcher__item-button btn-decrement" data-type="children">-</button>
            <span class="searcher__item-counter app_rooms-children-count counter">0</span>
            <button class="searcher__item-button btn-increment" data-type="children">+</button>
        </div>
        <div class="searcher__item-dropdown-item">
            <span><strong>Habitaciones</strong></span>
            <button class="searcher__item-button btn-decrement" data-type="rooms">-</button>
            <span class="searcher__item-counter app_rooms-count counter">1</span>
            <button class="searcher__item-button btn-increment" data-type="rooms">+</button>
        </div>
    </div>
</div>
