.searcher__item {

  &-rooms {
    position: relative;

    .searcher__item {

      &-label {
        white-space: nowrap;
      }

      &-dropdown {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: .1rem;
        left: -18px;
        width: calc(100% + 34px);

        &-item {
          align-items: center;
          color: $main-color;
          display: flex;
          padding: .5rem 1rem;

          span {
            strong {
              font-size: 0.975rem;
            }

            span {
              color: $gray2;
              display: block;
              font-size: 0.775rem;
            }
          }
        }
      }

      &-button {
        background-color: $white2;
        color: $main-color;
        font-size: 1.8rem;
        line-height: 1;
        height: 2.5rem;
        width: 2.5rem;

        &:hover {
          color: $main-color;
        }

        &.disabled {
          color: $gray3;
          background-color: $gray4;
        }

        &.searcher__item-button--decrement {
          margin-left: auto;
        }
      }

      &-counter {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 2.5rem;
        width: 3rem;
      }
    }
  }
}
