/*------------------------------------*\
    #MAIN VARS
\*------------------------------------*/
/*------------------------------------*\
    #CUSTOM STYLES
\*------------------------------------*/
body {
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

a:hover,
button:hover {
  color: #4CB7AC;
}

button {
  outline: 0.2rem solid transparent;
  outline-offset: 0.2rem;
}

.hidden {
  display: none;
}

.button {
  color: #FFF;
  font-size: 0.875rem;
  text-transform: uppercase;
  height: 100%;
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  width: 100%;
}
.button--green {
  background: #4CB7AC;
}
.button--green:hover {
  background: #009989;
  color: #FFF;
}

.header__item-button--language {
  align-items: center;
  display: flex;
  margin-right: 1.1rem !important;
}

.page-content__title-dropdown {
  background-color: #FFF;
  margin-top: 0.2rem;
  min-width: 29.5rem;
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-left: -12.5rem;
}
.page-content__title-dropdown-list {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.page-content__title-dropdown-link {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}
.page-content__title-dropdown-link:hover {
  background-color: #F3F4F6;
}

.slogan-container {
  align-items: center;
  background-color: #FFF;
  display: flex;
  height: 2.65rem;
  position: absolute;
  bottom: 5.7rem;
  justify-content: center;
  left: 0.5rem;
  padding: 0.8rem;
  gap: 0.8rem;
  width: 29rem;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.header__navbar {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-right: 0.8rem;
  position: relative;
}
.header__list {
  display: flex;
}
.header__item, .header__item-button {
  margin: 0 0.8rem;
}
.header__item:first-child, .header__item-button:first-child {
  margin-left: 0;
}
.header__item:last-child, .header__item-button:last-child {
  margin-right: 0;
}

.searcher__item-destination {
  position: relative;
}
.searcher__item-destination .searcher__item-dropdown {
  margin-top: 0.1rem;
  width: 936px;
}
.searcher__item-destination .searcher__item-dropdown-grid {
  display: grid;
  gap: 1rem 4rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 1rem 0;
  width: 540px;
}
.searcher__item-destination .searcher__item-dropdown-grid-item {
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 270px;
}
.searcher__item-destination .searcher__item-dropdown-grid-item:hover .searcher__item-dropdown-grid-text {
  text-decoration: underline;
}
.searcher__item-destination .searcher__item-dropdown-grid-image {
  margin-right: 0.7rem;
}
.searcher__item-destination .searcher__item-dropdown-grid-text {
  flex: 1 1 0%;
  width: inherit;
}
.searcher__item-destination .searcher__item-dropdown-grid-text span {
  color: #686868;
  display: block;
  font-size: 0.775rem;
}
.searcher__item-dropdown-content--left {
  width: 37%;
}
.searcher__item-dropdown-content--right {
  width: 63%;
}
.searcher__item-dropdown-content--right .searcher__item-dropdown-title {
  padding-left: 0;
}

.searcher__item-rooms {
  position: relative;
}
.searcher__item-rooms .searcher__item-label {
  white-space: nowrap;
}
.searcher__item-rooms .searcher__item-dropdown {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 0.1rem;
  left: -18px;
  width: calc(100% + 34px);
}
.searcher__item-rooms .searcher__item-dropdown-item {
  align-items: center;
  color: #282828;
  display: flex;
  padding: 0.5rem 1rem;
}
.searcher__item-rooms .searcher__item-dropdown-item span strong {
  font-size: 0.975rem;
}
.searcher__item-rooms .searcher__item-dropdown-item span span {
  color: #686868;
  display: block;
  font-size: 0.775rem;
}
.searcher__item-rooms .searcher__item-button {
  background-color: #FFFAF5;
  color: #282828;
  font-size: 1.8rem;
  line-height: 1;
  height: 2.5rem;
  width: 2.5rem;
}
.searcher__item-rooms .searcher__item-button:hover {
  color: #282828;
}
.searcher__item-rooms .searcher__item-button.disabled {
  color: #CDCDCD;
  background-color: #F7F7F7;
}
.searcher__item-rooms .searcher__item-button.btn-decrement {
  margin-left: auto;
}
.searcher__item-rooms .searcher__item-counter {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 3rem;
}

.page-content__title-toggle {
  display: inline-block;
  position: relative;
}
.page-content__title-toggle span {
  cursor: pointer;
}

.app_destination-container.strike-through {
  position: relative;
}
.app_destination-container.strike-through:before {
  background: #4CB7AC;
  content: "";
  display: block;
  height: 0.9rem;
  left: -0.9rem;
  position: absolute;
  bottom: 0.45rem;
  width: 16.7rem;
}
.app_destination-trigger {
  border-bottom: 0.1rem solid #282828;
  position: relative;
}
.app_destination-trigger:after {
  content: "";
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.4rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.296477 2.21L2.88648 4.8C3.27648 5.19 3.90648 5.19 4.29648 4.8L6.88648 2.21C7.51648 1.58 7.06648 0.5 6.17648 0.5H0.996477C0.106477 0.5 -0.333523 1.58 0.296477 2.21Z" fill="%23282828"/></svg>');
  background-size: cover;
  margin-top: 0.5rem;
}
.app_destination .destination-options {
  margin-left: -12.5rem;
  margin-top: 0.2rem;
  min-width: 29.5rem;
}
.app_destination .destination-options .destination-link {
  font-size: 1rem;
  line-height: 1.25rem;
}

.pre-header {
  background-color: #282828;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #FFF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pre-header__container {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.pre-header__item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.pre-header__item-text {
  font-size: 0.775rem;
}

.header {
  background-color: #FFF;
  margin-bottom: 1.5rem;
}
.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.header__dropdown {
  position: relative;
}
.header__dropdown-container {
  background-color: #FFF;
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  width: 12rem;
  z-index: 10;
}
.header__dropdown-list {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.header__dropdown-link {
  display: block;
  padding: 0.5rem 1rem;
}
.header__dropdown-link:hover {
  background-color: #F3F4F6;
}

.banner-hero {
  background-image: url("../../images/banner-home.jpg");
  height: 525px;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  position: relative;
}
.banner-hero__container {
  align-items: center;
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
}
.banner-hero__content {
  align-self: flex-end;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.searcher {
  background: #FFF;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 4.69rem;
  width: 100%;
}
.searcher__form {
  display: flex;
  width: 100%;
}
.searcher__item {
  flex: 1 1 0%;
}
.searcher__item-container {
  align-items: center;
  border-width: 0.1rem;
  color: #9A9A9A;
  cursor: pointer;
  border-color: transparent;
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
  position: relative;
  width: 100%;
}
.searcher__item-container svg {
  margin-right: 0.9rem;
}
.searcher__item-container::after {
  content: "";
  background-color: #CDCDCD;
  height: 80%;
  position: absolute;
  top: 8px;
  right: 0;
  width: 0.1rem;
}
.searcher__item-container--last {
  color: #282828;
}
.searcher__item-container--last::after {
  display: none;
}
.searcher__item-container::placeholder {
  color: #9A9A9A;
}
.searcher__item-dropdown {
  background: #FFF;
  margin-top: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.searcher__item-dropdown-container {
  display: flex;
  width: 100%;
}
.searcher__item-dropdown-content {
  padding-right: 0.5rem;
}
.searcher__item-dropdown-title {
  font-size: 1.35rem;
  line-height: 2.1rem;
  padding: 0.5rem 1rem;
}
.searcher__item-dropdown-item {
  color: #686868;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.page-content__title {
  font-size: 3.75rem;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}

.why-choose-us {
  margin: auto;
  max-width: 890px;
  padding: 5.6rem 0;
}
.why-choose-us__container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.why-choose-us__grid {
  display: grid;
  gap: 1rem;
  margin-top: 1.5rem;
}
.why-choose-us__title {
  font-size: 3.2rem;
  line-height: 5rem;
}
.why-choose-us__content {
  background: #FFF;
  text-align: center;
  max-width: 12rem;
  padding: 1rem;
}
.why-choose-us__content svg {
  margin: auto;
}
.why-choose-us__subtitle {
  color: #686868;
  font-size: 0.975rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/*# sourceMappingURL=main.css.map */
