{{#if searchForm }}
<form method="post" action="{{ url }}" role="search" class="bg-white shadow p-4 rounded-lg flex {{ styleModifier }}">
    {{#each searchLabel }}
    <label for="search" class="search-form-label is-vishidden {{ styleModifier }}">{{{ label }}}</label>
    {{/ each }}
    <div class="search-form-body">
        {{> atoms-input type="search" placeholder="Encuentra tu mejor estancia" }}
        {{> atoms-button type="submit" text="Buscar" }}
    </div>
</form>
{{/ if }}
