<header class="header">
    <div class="header__container container">
        {{> molecules-navbar }}
        <div class="header__navbar header__navbar--right">
            <div class="header__dropdown">
                {{> atoms-button-language language="ESP" }}
                <div class="header__dropdown-container shadow-lg hidden">
                    <ul class="header__dropdown-list">
                        <li class="header__dropdown-item"><a href="#" class="header__dropdown-link">Español</a></li>
                        <li class="header__dropdown-item"><a href="#" class="header__dropdown-link">Inglés</a></li>
                        <li class="header__dropdown-item"><a href="#" class="header__dropdown-link">Francés</a></li>
                    </ul>
                </div>
            </div>
            <button class="header__item">
                {{> atoms-menu-burguer }}
            </button>
        </div>
    </div>
</header>
