<header class="bg-white mb-6">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <nav class="flex space-x-6 text-sm">
            <ul class="flex space-x-6">
                <li><a href="#" class="text-gray-800">Alojamientos</a></li>
                <li><a href="#" class="text-gray-800">Nosotros</a></li>
            </ul>
        </nav>
        <div class="relative flex items-center space-x-6 text-sm">
            <div class="relative" x-data="{ open: false }">
                <button @click="open = !open" class="flex items-center space-x-1 text-gray-800 hover:text-blue-500 focus:outline-none">
                    <span>ESP</span>
                </button>
                <div x-show="open" @click.away="open = false" class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-10 hidden">
                    <ul class="py-1">
                        <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Español</a></li>
                        <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Inglés</a></li>
                        <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Francés</a></li>
                    </ul>
                </div>
            </div>
            <button class="text-gray-800 hover:text-blue-500 focus:outline-none">
                <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0C0.447715 0 0 0.447715 0 1C0 1.55228 0.447715 2 1 2H19C19.5523 2 20 1.55228 20 1C20 0.447715 19.5523 0 19 0H1Z" fill="#282828"/>
                    <path d="M0 7C0 6.44772 0.447715 6 1 6H13C13.5523 6 14 6.44772 14 7C14 7.55228 13.5523 8 13 8H1C0.447715 8 0 7.55228 0 7Z" fill="#282828"/>
                    <path d="M0 13C0 12.4477 0.447715 12 1 12H9C9.55228 12 10 12.4477 10 13C10 13.5523 9.55228 14 9 14H1C0.447715 14 0 13.5523 0 13Z" fill="#282828"/>
                </svg>
            </button>
        </div>
    </div>
</header>
