<div class="pre-header">
  <div class="pre-header__container container grid-cols-12">
    <div class="pre-header__item">
      {{> atoms-ticket }}
      {{> atoms-heading-preheader text="Mejor precio garantizado"}}
    </div>
    <div class="pre-header__item">
        {{> atoms-calendar }}
        {{> atoms-heading-preheader text="Cancelación más flexible"}}
    </div>
    <div class="pre-header__item">
        {{> atoms-smile }}
        {{> atoms-heading-preheader text="Atención personalizada"}}
    </div>
      {{> atoms-heading-preheader text="Servicio excelente certificado"}}
  </div>
</div>
