<div class="pre-header bg-gray-800 text-white text-sm py-2 opacity-100">
  <div class="container mx-auto flex justify-center items-center px-10 gap-16 grid-cols-12">
    <div class="flex items-center gap-2">
      {{> atoms-ticket }}
      {{> atoms-heading-preheader text="Mejor precio garantizado"}}
    </div>
    <div class="flex items-center gap-2">
        {{> atoms-calendar }}
        {{> atoms-heading-preheader text="Cancelación más flexible"}}
    </div>
    <div class="flex items-center gap-2">
        {{> atoms-smile }}
        {{> atoms-heading-preheader text="Atención personalizada"}}
    </div>
      {{> atoms-heading-preheader text="Servicio excelente certificado"}}
  </div>
</div>
