<div class="bg-gray-800 text-white text-sm py-2">
  <div class="container mx-auto px-4 flex justify-between">
    <div>Contact Us: (123) 456-7890</div>
    <div>Follow Us:
      <a href="#" class="text-blue-400 ml-2">Facebook</a>
      <a href="#" class="text-blue-400 ml-2">Twitter</a>
    </div>
  </div>
</div>
