/*------------------------------------*\
    #MAIN VARS
\*------------------------------------*/
$main-color: #282828;
$links-color: #4CB7AC;
$stroke-color: $links-color;
$border-color: $main-color;
$gray: #9A9A9A;
$gray2: #686868;
