.button {
  font-size: .875rem;
  text-transform: uppercase;
  height: 100%;
  padding: .5rem 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out;
  width: 100%;

  &--green {
    background: $links-color;
    button

    &:hover {
      background: $main-color-darken;
      color: $white;
    }
  }
}
