<section class="why-choose py-8">
    <div class="container mx-auto text-center">
        {{> atoms-heading-why-choose-us-title title="Por qué nos eligen" }}
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-6">
          <div class="bg-white p-4 why-choose-container">
              {{> atoms-wavy-check }}
              {{> atoms-heading-why-choose-us text="Servicio exquisito, cercano y personal" }}
          </div>
          <div class="bg-white p-4 why-choose-container">
              {{> atoms-cyrcle-currency }}
              {{> atoms-heading-why-choose-us text="Relación calidad - precio extrordinaria" }}
          </div>
          <div class="bg-white p-4 why-choose-container">
              {{> atoms-fork-knife }}
              {{> atoms-heading-why-choose-us text="Gastonomía cuidada y de primer nivel" }}
          </div>
            <div class="bg-white p-4 why-choose-container">
                {{> atoms-thumbs-up }}
                {{> atoms-heading-why-choose-us text="Recomendación de otros clientes" }}
            </div>
        </div>
    </div>
</section>
