<nav class="header__navbar">
    <ul class="header__list">
        <li class="header__item">{{> atoms-navbar text="Alojamientos"}}</li>
        <li class="header__item">{{> atoms-navbar text="Nosotros"}}</li>
    </ul>
</nav>
