<div class="banner-hero">
    <div class="banner-hero__container bg-black bg-opacity-20">
        <div class="banner-hero__content">
            {{> atoms-slogan }}
            {{> organisms-destination-container }}
        </div>
    </div>
</div>
