<div class="page-content__title-dropdown hidden shadow-lg ring-1 ring-black ring-opacity-5">
    <ul class="page-content__title-dropdown-list">
        <li class="page-content__title-dropdown-item">{{> atoms-heading-destination-link destination="A Coruña" }}</li>
        <li class="page-content__title-dropdown-item">{{> atoms-heading-destination-link destination="Vigo" }}</li>
        <li class="page-content__title-dropdown-item">{{> atoms-heading-destination-link destination="Las Rozas, Madrid" }}</li>
        <li class="page-content__title-dropdown-item">{{> atoms-heading-destination-link destination="Barcelona" }}</li>
        <li class="page-content__title-dropdown-item">{{> atoms-heading-destination-link destination="Sabadell, Barcelona" }}</li>
        <li class="page-content__title-dropdown-item">{{> atoms-heading-destination-link destination="Lugo" }}</li>
    </ul>
</div>
