	<script src="../../js/production.min.js"></script>

	<!--<Deject>-->
	<!--DO NOT REMOVE-->
	{{{ patternLabFoot }}}
	<!--</Deject>-->

	<script src="../../js/heading.js"></script>
    <script src="../../js/destination-selector.js"></script>
    </body>
</html>
