
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}

<script src="../../js/heading-destination-container.js"></script>
<script src="../../js/destination-select.js"></script>
<script src="../../js/rooms-select.js"></script>
</body>
</html>
