
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}

<script src="../../js/heading.js"></script>
<script src="../../js/destination-selector.js"></script>
<script src="../../js/rooms-selector.js"></script>
</body>
</html>
